<div class="container-fluid mt-3">
  <h1>Centro de mensajes</h1>

  <form class="form-inline" id="chat-form">
    <input type="email" id="email" class="form-control my-2 mr-2" placeholder="pedro@gmail.com">
    <input type="text" id="message" class="form-control my-2 mr-2" placeholder="Cuéntanos algo...">
    <input class="btn btn-primary my-2" type="submit" value="Enviar!">
  </form>

  <hr>

  <div id="messages"></div>
</div>