<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce de Lucho</title>
    <link rel="icon" type="image/png"
        href="http://invertironline.pro/wp-content/uploads/2018/03/2018-03-02-criptomoneda-bitcoin.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body style="background: linear-gradient(to right, #b92b27, #1565c0);">
    <div class="container mt-3">
        <div class="jumbotron">
            <%- include('./formulario')-%>
                <%- include('./historial')-%>
        </div>
    </div>
    <div class="jumbotron">
        <%- include('./chat.ejs')-%>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</body>

</html>